<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
<div class="text-field">
  <%= form.label :dob %>
  <%= form.text_field :dob %>
</div>
<div class="text-field">
  <%= form.label :bio %>
  <%= form.text_field :bio %>
</div>
<div class="text-field">
  <%= form.label :interests %>
  <%= form.text_field :interests %>
</div>
<div class="text-field">
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>
