


<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.email %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<% for friend in @friendships %>
    <p>
      <%=h @users.find(friend.friend_id).email  %>
      <!-- <strong><%= friend.friend_id %></strong> -->
      <%= link_to "Remove Friend", friend, :method => :delete %>
      <div class="clear"></div>
    </p>
<% end %>

<%=h User.all.find(1)  %>
