
<h1> <%= current_user.name %> </h1>
<br>
DOB: <%= current_user.dob %>
<br>
Interests: <%= current_user.interests %>
<br>
Location: <%= current_user.location %>
<br>
<a href="/users/<%= current_user.id%>/edit">
  <button type="submit" value="Edit">Edit</button>
</a>
