
<h2>Newsfeed</h2>
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts_sorted.each do |post| %>
  <p><%= post.message %>, created at
  <%= "#{post.created_at.strftime("%H:%M:%S, %d %b %Y")}"%>
  </p>

  <div id="share-buttons">

      <!-- Email -->
      <a href="mailto:?Subject=Simple <%= post.message %>">
          <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
      </a>

      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
      </a>

      <!-- Twitter -->
      <a href="https://twitter.com/share?text=<%= post.message %>;" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      </a>


  </div>


<% end %>
