
<h2>Newsfeed</h2>
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts_sorted.each do |post| %>
  <p><%= simple_format(post.message) %>
  <%= simple_format("#{post.created_at.strftime("%H:%M:%S, %d %b %Y")}")%>
  </p>
  <br>

<% end %>
