
<h2>Newsfeed</h2>
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.reverse.each do |post| %>
  <p><%= post.message %>, created at
  <%= "#{post.created_at.strftime("%H:%M:%S")}, #{post.created_at.strftime("%d %b %Y")}"%></p>

<% end %>
