<div class="container">
  <div class="col-md-2 col-md-offset-5">

  <% if signed_in? %>
    <a href="/users/<%= current_user.id%>/profile">
      <button type="submit" value="Profile">Profile</button>
    </a>
  <% end %>

    <div class="centered">
      <h2>Newsfeed</h2>
      <% unless (current_user.nil?) %>
        <%= form_for @post do |form| %>
          <%= form.label :message %>
          <%= form.text_area :message %>
          <%= form.submit "Submit" %>
        <% end %>
      <% end %>


      <% @posts_sorted.each do |post| %>
        <p><%= simple_format(auto_link(post.message)) %>
          <%= "#{post.created_at.strftime("%H:%M:%S, %d %b %Y")}"%>
        </p>
        <span><%= post.get_upvotes.size %> like this</span>
        <br>
        <% unless (current_user.nil?) %>
          <%= link_to like_post_path(post), method: :put do %>
            <button name="likePost<%=post.id %>">Like</button>
          <% end %>
          <%= link_to unlike_post_path(post), method: :put do %>
            <button name="unlikePost<%=post.id %>">Unlike</button>
          <% end %>
          <%= link_to 'Delete', post_path(post), method: :delete %>
        <% end %>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>
