<h2>Newsfeed</h2>
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
  <%= form.submit "Submit" %>
<% end %>

<% @posts_sorted.each do |post| %>
  <p><%= post.message %>, created at
  <%= "#{post.created_at.strftime("%H:%M:%S, %d %b %Y")}"%>
  </p>
    <%= link_to like_post_path(post), method: :put do %>
        <button>
          <span>like</span>
          <span><%= post.get_upvotes.size %></span>
    <% end %>
    </button>
    <%= link_to unlike_post_path(post), method: :put do %>
        <button>
          <span>unlike</span>
          <span><%= post.get_downvotes.size %></span>
    <% end %>
    </button>

<% end %>
